/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 3, 2017, 12:19:03 PM
    Author     : lygalas
*/

/*Login form*/
.panel-login{
    padding-top: 10%!important;
}
.login-image{
    padding: 0;
    padding-top: 3%;
}
.login-image img{
    width: 98%;
}
/*Admin index*/
.admin{
    padding: 0!important;
}
.admin-body{
    padding: 0!important;
}
.admin img{
    width: 30%;
    margin-left: 35%;
}
.admin div{
    padding-top: 50px;
    padding-bottom: 45px;
    
}
.color-1{
    background-color: #777;
    
    padding: 0;
}
.color-1:hover{
    background-color: #595959;
    border: 2px solid #e7e7e7;
}
.color-2{
    background-color: #e7e7e7;
    
    padding: 0;
}
.color-2:hover{
    background-color: #e6e6e6;
    border: 2px solid #777;
}
.color-2 h4{
    color: #777;
}
.color-1 h4{
    color: #e7e7e7;
}
.admin h3{
    color: white;
    margin: 0px;
    font-size: 25px;
    margin-top: 10px;
}