.catedre-intro p{
    color: white;
    font-family: Playfair Display;
    font-style: italic;
    font-weight: 700;
    line-height: 85px;
    font-size: 80px;
    background-color: rgba(52, 160, 180, 0.7);
    padding: 10%;
}

.catedre-intro{
    background-image: url(../../../img/sistems/header21.jpg);
}
.elevi{
    padding-left: 0;
    padding-right: 0;
}